body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #5e2a84;
      color: white;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      min-height: 100vh;
      padding: 40px;
      box-sizing: border-box;
    }

    .rules {
      width: 60%;
      padding: 30px;
    }

    ol {
      line-height: 1.8;
      font-size: 18px;
    }

    .right-image {
      width: 35%;
      display: flex;
      height: 500px;
      justify-content: center;
      align-items: center;
    }

    .right-image img {
      width: 500px;
      height: 1000px;
      max-height: 100vh;
      object-fit: contain;
    }

    .bottom-section {
      margin-top: 20px;
      font-size: 16px;
    }

    .buttons {
      margin-top: 20px;
    }

    .buttons button {
      padding: 15px 30px;
      font-size: 20px;
      margin-right: 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    #playBtn {
      background-color: gold;
      color: #5e2a84;
    }

    #quitBtn {
      background-color: gold;
      color: black;
    }

    #playBtn:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    label {
      cursor: pointer;
    }